<h1 style="text-align: center; padding: 30px">Formulário de criação de tarefas</h1>

<div style="padding-right: 150px; padding-left: 150px">
    <div class="mb-3">
        <form method="post" action="/task/add">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Tipo do logradouro">
                <label for="exampleFormControlInput1" class="form-label">Descrição</label>
                <input type="text" name="description" class="form-control" id="exampleFormControlInput1" placeholder="Nome da rua">
                <div style="padding-top: 30px" class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>